/* Sign In CSS */

@media only screen and (min-width: 990px) {
  #Sign-In {
    margin: auto;
    max-width: 500px;
  }

  #Sign-In .forgot-password {
    text-align: right;
    margin-top: -10px;
  }
}
